@model Category

@{
    ViewBag.Title = "Add Category";
    Layout = "_Layout";
}

<h2>Add Category</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label">Description</label>
        <small class="text-info">(Optional)</small>
        <input type="text" asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Add Category" class="btn btn-primary">
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
